$color-orange: darkorange;

div {
  background-color: aliceblue;
  padding: 20px;
  div {
    ul {
      padding-left: 10px;
      padding-bottom: 10px;
      margin: 0px;
      color: $color-orange;
      font-weight: bold;
      font-style: italic;
    }
  }
}
